In [179]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier

In [180]:
df = pd.read_csv('data.csv')

gender                int64
SeniorCitizen         int64
Partner               int64
Dependents            int64
tenure                int64
PhoneService          int64
MultipleLines         int64
InternetService       int64
OnlineSecurity        int64
OnlineBackup          int64
DeviceProtection      int64
TechSupport           int64
StreamingTV           int64
StreamingMovies       int64
Contract              int64
PaperlessBilling      int64
PaymentMethod         int64
MonthlyCharges      float64
Churn                 int64
dtype: object

In [ ]:
# Cleanup data
df = df.drop('customerID', axis=1)
# TODO: Undrop and clean this column
df = df.drop('TotalCharges', axis=1)
params = ['gender', 'Partner', 'Dependents', 'PhoneService', 'MultipleLines', 'InternetService', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling', 'PaymentMethod', 'Churn']
def enumerate_selected_columns(data, columns):
    for c in columns:
        data[c] = data[c].factorize()[0]
enumerate_selected_columns(df, params)

In [181]:
# Separate data
features = df.loc[:, df.columns != 'Churn']
churn = df['Churn']
X_train, X_test, y_train, y_test = train_test_split(features, churn, random_state=1)

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges
0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,29.85
1,1,0,1,0,34,1,1,0,1,1,1,0,0,0,1,1,1,56.95
2,1,0,1,0,2,1,1,0,1,0,0,0,0,0,0,0,1,53.85
3,1,0,1,0,45,0,0,0,1,1,1,1,0,0,1,1,2,42.30
4,0,0,1,0,2,1,1,1,0,1,0,0,0,0,0,0,0,70.70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,1,0,0,1,24,1,2,0,1,1,1,1,1,1,1,0,1,84.80
7039,0,0,0,1,72,1,2,1,0,0,1,0,1,1,1,0,3,103.20
7040,0,0,0,1,11,0,0,0,1,1,0,0,0,0,0,0,0,29.60
7041,1,1,0,0,4,1,2,1,0,1,0,0,0,0,0,0,1,74.40
7042,1,0,1,0,66,1,1,1,1,1,1,1,1,1,2,0,2,105.65

In [183]:
# Training model
knn = KNeighborsClassifier(n_neighbors=10)
knn.fit(X_train, y_train)

KNeighborsClassifier(n_neighbors=10)

In [184]:
# Accuracy analysis
y_pred = knn.predict(X_test)
print("Test set predictions:\n {}".format(y_pred))
print("Test set score (np.mean): {:.2f}".format(np.mean(y_pred == y_test)))
print("Test set score (knn.score): {:.2f}".format(knn.score(X_test, y_test)))

Test set predictions:
 [0 0 0 ... 0 1 0]
Test set score (np.mean): 0.81
Test set score (knn.score): 0.81